flow.json
[{"id":"b6899a56.32a2e8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"a4cf9d49.4a1b2","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"c0e547a2.ee5308"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"c0e547a2.ee5308","port":0}]},{"x":455,"y":259,"wires":[{"id":"c0e547a2.ee5308","port":1}]}]},{"id":"fe3483e.95a6d8","type":"server-state-changed","z":"b6899a56.32a2e8","name":"Inizio Sera","server":"33257e95.f185a2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":300,"y":340,"wires":[["59ad7be0.87b4e4"],[]]},{"id":"e6673c4e.87a1b","type":"ha-get-entities","z":"b6899a56.32a2e8","server":"33257e95.f185a2","name":"","rules":[{"property":"entity_id","logic":"is","value":"input_select.tapparelle_chiusura_automatica","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1190,"y":480,"wires":[["d57c047a.1a8dd8"]]},{"id":"d57c047a.1a8dd8","type":"change","z":"b6899a56.32a2e8","name":"stato","rules":[{"t":"set","p":"stato","pt":"msg","to":"payload[0].state","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":480,"wires":[["1e1e825a.ed291e"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"1e1e825a.ed291e","type":"switch","z":"b6899a56.32a2e8","name":"","property":"stato","propertyType":"msg","rules":[{"t":"eq","v":"Al tramonto","vt":"str"},{"t":"eq","v":"Scelta Orario","vt":"str"},{"t":"eq","v":"Disabilitato","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1520,"y":480,"wires":[["d6f7f1ba.c796f"],[],[]]},{"id":"179c31ba.e6081e","type":"server-state-changed","z":"b6899a56.32a2e8","name":"Check Orario manuale","server":"33257e95.f185a2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.tapparelle_manuale_temp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":280,"y":840,"wires":[["87bd4df5.15779","5ebbadeb.c43384"],[]]},{"id":"9422c93b.acd968","type":"ha-get-entities","z":"b6899a56.32a2e8","server":"33257e95.f185a2","name":"","rules":[{"property":"entity_id","logic":"is","value":"input_select.tapparelle_chiusura_automatica","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1130,"y":640,"wires":[["a929d255.85ac8"]]},{"id":"a929d255.85ac8","type":"change","z":"b6899a56.32a2e8","name":"stato","rules":[{"t":"set","p":"stato","pt":"msg","to":"payload[0].state","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":640,"wires":[["54bbdad4.0d0244"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"54bbdad4.0d0244","type":"switch","z":"b6899a56.32a2e8","name":"","property":"stato","propertyType":"msg","rules":[{"t":"eq","v":"Al tramonto","vt":"str"},{"t":"eq","v":"Scelta Orario","vt":"str"},{"t":"eq","v":"Disabilitato","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1430,"y":640,"wires":[[],["295f2faa.7154b"],[]]},{"id":"295f2faa.7154b","type":"api-call-service","z":"b6899a56.32a2e8","name":"Spegno temp","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.tapparelle_manuale_temp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1590,"y":640,"wires":[["d6f7f1ba.c796f"]]},{"id":"6fba8825.4cccb8","type":"api-call-service","z":"b6899a56.32a2e8","name":"Soggiorno Porta Tapp","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.shelly_shsw_25_68c63af99327","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1660,"y":1140,"wires":[["1d2d76b8.74b729"]]},{"id":"1d2d76b8.74b729","type":"api-call-service","z":"b6899a56.32a2e8","name":"Soggiorno finestra","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.shelly_shsw_25_68c63af98c0a","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1890,"y":1140,"wires":[["fc616f1d.f0f01"]]},{"id":"fc616f1d.f0f01","type":"api-call-service","z":"b6899a56.32a2e8","name":" ufficio","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.shelly_shsw_25_68c63af98c03","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2050,"y":1140,"wires":[["abcd9295.5829b"]]},{"id":"abcd9295.5829b","type":"api-call-service","z":"b6899a56.32a2e8","name":"camera porta","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.shelly_shsw_25_68c63af98f45","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1710,"y":1200,"wires":[["78052a5f.dbf324"]]},{"id":"78052a5f.dbf324","type":"api-call-service","z":"b6899a56.32a2e8","name":"camera finestra","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.shelly_shsw_25_68c63af95e34","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1880,"y":1200,"wires":[["2fa1fff9.a2bb9"]]},{"id":"2fa1fff9.a2bb9","type":"api-call-service","z":"b6899a56.32a2e8","name":"bagno","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.shelly_shsw_25_68c63af9622c","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2030,"y":1200,"wires":[[]]},{"id":"24194ce8.574be4","type":"alexa-remote-routine","z":"b6899a56.32a2e8","name":"Sto per chiudere tutte le tapparelle! Controlla che non ci siano cose in mezzo. Se vuoi bloccare l'azione basta che mi dici \"Alexa blocca chiusura\"","account":"d8d2fc14.4b851","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"Sto per chiudere tutte le tapparelle! Controlla che non ci siano cose in mezzo. Se vuoi bloccare l'azione basta che mi dici \"Alexa blocca chiusura\""},"devices":["6ceb0fcc2e644cfd918cc6d9f9c152e0"]}},"x":1760,"y":1020,"wires":[["fc9cedbe.e66e9"]]},{"id":"d6f7f1ba.c796f","type":"api-current-state","z":"b6899a56.32a2e8","name":"DND ATTIVO?","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.dnd","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":860,"y":1020,"wires":[[],["f51a880f.f37d98"]]},{"id":"f51a880f.f37d98","type":"api-current-state","z":"b6899a56.32a2e8","name":"DND MANUALE ATTIVO?","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.dnd_manual","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1110,"y":1020,"wires":[[],["24194ce8.574be4"]]},{"id":"fc9cedbe.e66e9","type":"delay","z":"b6899a56.32a2e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2340,"y":1020,"wires":[["3f3d266e.37511a"]]},{"id":"3f3d266e.37511a","type":"api-current-state","z":"b6899a56.32a2e8","name":"Bloccata azione?","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alexa_blocca_azione","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1430,"y":1100,"wires":[["42cecf03.9bfb4"],["6fba8825.4cccb8"]]},{"id":"42cecf03.9bfb4","type":"api-call-service","z":"b6899a56.32a2e8","name":"Spegno temp","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.alexa_blocca_azione","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1650,"y":1080,"wires":[[]]},{"id":"87bd4df5.15779","type":"api-current-state","z":"b6899a56.32a2e8","name":"Soggiorno Porta Tapp","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af99327","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":820,"wires":[["9422c93b.acd968"],["58992d3c.7d0174"]]},{"id":"58992d3c.7d0174","type":"api-current-state","z":"b6899a56.32a2e8","name":"Soggiorno finestra","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af98c0a","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":880,"wires":[["9422c93b.acd968"],["57f7ef12.4fc8c"]]},{"id":"57f7ef12.4fc8c","type":"api-current-state","z":"b6899a56.32a2e8","name":"Soggiorno Porta","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af99327","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":940,"wires":[["9422c93b.acd968"],["a00d775f.275828"]]},{"id":"a00d775f.275828","type":"api-current-state","z":"b6899a56.32a2e8","name":" ufficio","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af98c03","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":980,"wires":[["9422c93b.acd968"],["39dccc84.ca1dc4"]]},{"id":"39dccc84.ca1dc4","type":"api-current-state","z":"b6899a56.32a2e8","name":"camera porta","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af98f45","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":1040,"wires":[["9422c93b.acd968"],["f9c56559.2d77a8"]]},{"id":"f9c56559.2d77a8","type":"api-current-state","z":"b6899a56.32a2e8","name":"camera finestra","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af95e34","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":1100,"wires":[["9422c93b.acd968"],["76a3fd6d.fdc504"]]},{"id":"76a3fd6d.fdc504","type":"api-current-state","z":"b6899a56.32a2e8","name":"bagno","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af9622c","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":1160,"wires":[["9422c93b.acd968"],[]]},{"id":"c0fe6c9f.70679","type":"comment","z":"b6899a56.32a2e8","name":"Controllo che almeno una sia aperta","info":"","x":580,"y":780,"wires":[]},{"id":"59ad7be0.87b4e4","type":"api-current-state","z":"b6899a56.32a2e8","name":"Soggiorno Porta Tapp","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af99327","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":340,"wires":[["e6673c4e.87a1b"],["229f4978.7585c6"]]},{"id":"229f4978.7585c6","type":"api-current-state","z":"b6899a56.32a2e8","name":"Soggiorno finestra","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af98c0a","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":400,"wires":[["e6673c4e.87a1b"],["967e0bdb.018bb8"]]},{"id":"967e0bdb.018bb8","type":"api-current-state","z":"b6899a56.32a2e8","name":"Soggiorno Porta","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af99327","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":460,"wires":[["e6673c4e.87a1b"],["42dcf1ed.38f53"]]},{"id":"42dcf1ed.38f53","type":"api-current-state","z":"b6899a56.32a2e8","name":" ufficio","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af98c03","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":500,"wires":[["e6673c4e.87a1b"],["e9e47e7a.a3f79"]]},{"id":"e9e47e7a.a3f79","type":"api-current-state","z":"b6899a56.32a2e8","name":"camera porta","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af98f45","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":560,"wires":[["e6673c4e.87a1b"],["c45c9edf.042d3"]]},{"id":"c45c9edf.042d3","type":"api-current-state","z":"b6899a56.32a2e8","name":"camera finestra","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af95e34","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":620,"wires":[["e6673c4e.87a1b"],["b037dd3b.6e1f"]]},{"id":"b037dd3b.6e1f","type":"api-current-state","z":"b6899a56.32a2e8","name":"bagno","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af9622c","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":680,"wires":[["e6673c4e.87a1b"],[]]},{"id":"1b1d52df.d138ed","type":"comment","z":"b6899a56.32a2e8","name":"Controllo che almeno una sia aperta","info":"","x":600,"y":300,"wires":[]},{"id":"5ebbadeb.c43384","type":"ha-get-entities","z":"b6899a56.32a2e8","server":"33257e95.f185a2","name":"","rules":[{"property":"entity_id","logic":"is","value":"input_select.tapparelle_chiusura_automatica","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":290,"y":1260,"wires":[["1dbe48b1.136c37"]]},{"id":"1dbe48b1.136c37","type":"change","z":"b6899a56.32a2e8","name":"stato","rules":[{"t":"set","p":"stato","pt":"msg","to":"payload[0].state","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1260,"wires":[["1aac58b4.388c77"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"1aac58b4.388c77","type":"switch","z":"b6899a56.32a2e8","name":"","property":"stato","propertyType":"msg","rules":[{"t":"eq","v":"Al tramonto","vt":"str"},{"t":"eq","v":"Scelta Orario","vt":"str"},{"t":"eq","v":"Disabilitato","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":1260,"wires":[["44267287.249b9c"],[],["44267287.249b9c"]]},{"id":"44267287.249b9c","type":"api-call-service","z":"b6899a56.32a2e8","name":"Spegno manuale","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.tapparelle_manuale_temp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":1260,"wires":[[]]},{"id":"53dcae1b.597a4","type":"comment","z":"b6899a56.32a2e8","name":"Se non è impostato orario manuale spegno la variabile","info":"","x":580,"y":1200,"wires":[]},{"id":"c0e547a2.ee5308","type":"function","z":"a4cf9d49.4a1b2","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"8820f8e.93e5508","type":"subflow:a4cf9d49.4a1b2","z":"b6899a56.32a2e8","name":"Iterate","env":[],"x":190,"y":240,"wires":[["cecf752a.e20f38"],[]]},{"id":"3587be2d.d971b2","type":"inject","z":"b6899a56.32a2e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 02 * * *","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["8e5afb5c.10fff8"]]},{"id":"8e5afb5c.10fff8","type":"ha-get-entities","z":"b6899a56.32a2e8","server":"33257e95.f185a2","name":"","rules":[{"property":"attributes.current_position","logic":"gt","value":"20","valueType":"num"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":350,"y":80,"wires":[["8820f8e.93e5508"]]},{"id":"cecf752a.e20f38","type":"change","z":"b6899a56.32a2e8","name":"Set MSG.TAPP","rules":[{"t":"set","p":"tapp","pt":"msg","to":"$string(payload[0].entity_id)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":140,"wires":[["cb365f5a.86103","8820f8e.93e5508"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"cb365f5a.86103","type":"api-call-service","z":"b6899a56.32a2e8","name":"Chiusura Tapparelle","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"","data":"{\"entity_id\":\"{{tapp}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":200,"wires":[[]]}]