flow.json
[{"id":"b6899a56.32a2e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5bf20e9f.fbd2f","type":"server-state-changed","z":"b6899a56.32a2e8","name":"Inizio Sera","server":"","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":180,"wires":[["4b3018b.eec55e8"],[]]},{"id":"ff37040c.2adda8","type":"ha-get-entities","z":"b6899a56.32a2e8","server":"33257e95.f185a2","name":"","rules":[{"property":"entity_id","logic":"is","value":"input_select.tapparelle_chiusura_automatica","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1030,"y":320,"wires":[["2dba6313.d0bd4c"]]},{"id":"2dba6313.d0bd4c","type":"change","z":"b6899a56.32a2e8","name":"stato","rules":[{"t":"set","p":"stato","pt":"msg","to":"payload[0].state","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":320,"wires":[["6d7ae780.825768"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"6d7ae780.825768","type":"switch","z":"b6899a56.32a2e8","name":"","property":"stato","propertyType":"msg","rules":[{"t":"eq","v":"Al tramonto","vt":"str"},{"t":"eq","v":"Scelta Orario","vt":"str"},{"t":"eq","v":"Disabilitato","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1360,"y":320,"wires":[["85b60549.f27498"],[],[]]},{"id":"878a2f8f.0d8d","type":"server-state-changed","z":"b6899a56.32a2e8","name":"Check Orario manuale","server":"33257e95.f185a2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.tapparelle_manuale_temp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":680,"wires":[["a85e7ea8.eb185","d0e682dd.37656"],[]]},{"id":"8484f0dd.6415f","type":"ha-get-entities","z":"b6899a56.32a2e8","server":"33257e95.f185a2","name":"","rules":[{"property":"entity_id","logic":"is","value":"input_select.tapparelle_chiusura_automatica","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":970,"y":480,"wires":[["84f3fb10.7557f8"]]},{"id":"84f3fb10.7557f8","type":"change","z":"b6899a56.32a2e8","name":"stato","rules":[{"t":"set","p":"stato","pt":"msg","to":"payload[0].state","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":480,"wires":[["26d7ee4e.1af312"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"26d7ee4e.1af312","type":"switch","z":"b6899a56.32a2e8","name":"","property":"stato","propertyType":"msg","rules":[{"t":"eq","v":"Al tramonto","vt":"str"},{"t":"eq","v":"Scelta Orario","vt":"str"},{"t":"eq","v":"Disabilitato","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1270,"y":480,"wires":[[],["707d6fa5.41da8"],[]]},{"id":"707d6fa5.41da8","type":"api-call-service","z":"b6899a56.32a2e8","name":"Spegno temp","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.tapparelle_manuale_temp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":480,"wires":[["85b60549.f27498"]]},{"id":"d735a103.66e1a","type":"api-call-service","z":"b6899a56.32a2e8","name":"Soggiorno Porta Tapp","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.shelly_shsw_25_68c63af99327","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1500,"y":980,"wires":[["c28604cb.daade8"]]},{"id":"c28604cb.daade8","type":"api-call-service","z":"b6899a56.32a2e8","name":"Soggiorno finestra","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.shelly_shsw_25_68c63af98c0a","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1730,"y":980,"wires":[["dc4cf594.226868"]]},{"id":"dc4cf594.226868","type":"api-call-service","z":"b6899a56.32a2e8","name":" ufficio","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.shelly_shsw_25_68c63af98c03","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1890,"y":980,"wires":[["a4d9a174.81e55"]]},{"id":"a4d9a174.81e55","type":"api-call-service","z":"b6899a56.32a2e8","name":"camera porta","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.shelly_shsw_25_68c63af98f45","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":1040,"wires":[["40bf7871.136268"]]},{"id":"40bf7871.136268","type":"api-call-service","z":"b6899a56.32a2e8","name":"camera finestra","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.shelly_shsw_25_68c63af95e34","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1720,"y":1040,"wires":[["d4ee4261.3ce44"]]},{"id":"d4ee4261.3ce44","type":"api-call-service","z":"b6899a56.32a2e8","name":"bagno","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.shelly_shsw_25_68c63af9622c","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1870,"y":1080,"wires":[[]]},{"id":"f5e442c3.74815","type":"alexa-remote-routine","z":"b6899a56.32a2e8","name":"Sto per chiudere tutte le tapparelle! Controlla che non ci siano cose in mezzo. Se vuoi bloccare l'azione basta che mi dici \"Alexa blocca chiusura\"","account":"d8d2fc14.4b851","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"Sto per chiudere tutte le tapparelle! Controlla che non ci siano cose in mezzo. Se vuoi bloccare l'azione basta che mi dici \"Alexa blocca chiusura\""},"devices":["6ceb0fcc2e644cfd918cc6d9f9c152e0"]}},"x":1600,"y":860,"wires":[["3ea869b1.ec2746"]]},{"id":"85b60549.f27498","type":"api-current-state","z":"b6899a56.32a2e8","name":"DND ATTIVO?","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.dnd","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":860,"wires":[[],["638b7828.4e83c8"]]},{"id":"638b7828.4e83c8","type":"api-current-state","z":"b6899a56.32a2e8","name":"DND MANUALE ATTIVO?","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.dnd_manual","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":950,"y":860,"wires":[[],["f5e442c3.74815"]]},{"id":"3ea869b1.ec2746","type":"delay","z":"b6899a56.32a2e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2180,"y":860,"wires":[["69f7506a.3ee77"]]},{"id":"69f7506a.3ee77","type":"api-current-state","z":"b6899a56.32a2e8","name":"Bloccata azione?","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alexa_blocca_azione","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1270,"y":940,"wires":[["95e0eb85.ea12e8"],["d735a103.66e1a"]]},{"id":"95e0eb85.ea12e8","type":"api-call-service","z":"b6899a56.32a2e8","name":"Spegno temp","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.alexa_blocca_azione","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1490,"y":920,"wires":[[]]},{"id":"a85e7ea8.eb185","type":"api-current-state","z":"b6899a56.32a2e8","name":"Soggiorno Porta Tapp","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af99327","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":660,"wires":[["a4b742fd.cb319","8484f0dd.6415f"],[]]},{"id":"a4b742fd.cb319","type":"api-current-state","z":"b6899a56.32a2e8","name":"Soggiorno finestra","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af98c0a","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":720,"wires":[["5207327b.b327cc","8484f0dd.6415f"],[]]},{"id":"5207327b.b327cc","type":"api-current-state","z":"b6899a56.32a2e8","name":"Soggiorno Porta","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af99327","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":780,"wires":[["9c757cd5.ee78b","8484f0dd.6415f"],[]]},{"id":"9c757cd5.ee78b","type":"api-current-state","z":"b6899a56.32a2e8","name":" ufficio","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af98c03","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":820,"wires":[["86868a92.62bfb8","8484f0dd.6415f"],[]]},{"id":"86868a92.62bfb8","type":"api-current-state","z":"b6899a56.32a2e8","name":"camera porta","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af98f45","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":880,"wires":[["a507b980.437d08","8484f0dd.6415f"],[]]},{"id":"a507b980.437d08","type":"api-current-state","z":"b6899a56.32a2e8","name":"camera finestra","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af95e34","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":940,"wires":[["eceef59e.f2c038","8484f0dd.6415f"],[]]},{"id":"eceef59e.f2c038","type":"api-current-state","z":"b6899a56.32a2e8","name":"bagno","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af9622c","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":1000,"wires":[["8484f0dd.6415f"],[]]},{"id":"2d2428ca.6d5d98","type":"comment","z":"b6899a56.32a2e8","name":"Controllo che almeno una sia aperta","info":"","x":420,"y":620,"wires":[]},{"id":"4b3018b.eec55e8","type":"api-current-state","z":"b6899a56.32a2e8","name":"Soggiorno Porta Tapp","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af99327","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":180,"wires":[["a4eb831b.5491a"],["ff37040c.2adda8"]]},{"id":"a4eb831b.5491a","type":"api-current-state","z":"b6899a56.32a2e8","name":"Soggiorno finestra","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af98c0a","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":240,"wires":[["202fc501.cdff5a"],["ff37040c.2adda8"]]},{"id":"202fc501.cdff5a","type":"api-current-state","z":"b6899a56.32a2e8","name":"Soggiorno Porta","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af99327","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":300,"wires":[["6c5c49d1.c43ef8"],["ff37040c.2adda8"]]},{"id":"6c5c49d1.c43ef8","type":"api-current-state","z":"b6899a56.32a2e8","name":" ufficio","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af98c03","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":340,"wires":[["d139c53a.c3a5c8"],["ff37040c.2adda8"]]},{"id":"d139c53a.c3a5c8","type":"api-current-state","z":"b6899a56.32a2e8","name":"camera porta","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af98f45","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":400,"wires":[["4c7e53e2.ea84bc"],["ff37040c.2adda8"]]},{"id":"4c7e53e2.ea84bc","type":"api-current-state","z":"b6899a56.32a2e8","name":"camera finestra","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af95e34","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":460,"wires":[["be1d2646.f7df28"],["ff37040c.2adda8"]]},{"id":"be1d2646.f7df28","type":"api-current-state","z":"b6899a56.32a2e8","name":"bagno","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.shelly_shsw_25_68c63af9622c","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":520,"wires":[[],["ff37040c.2adda8"]]},{"id":"4bdc3974.328f58","type":"comment","z":"b6899a56.32a2e8","name":"Controllo che almeno una sia aperta","info":"","x":440,"y":140,"wires":[]},{"id":"d0e682dd.37656","type":"ha-get-entities","z":"b6899a56.32a2e8","server":"33257e95.f185a2","name":"","rules":[{"property":"entity_id","logic":"is","value":"input_select.tapparelle_chiusura_automatica","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":170,"y":1100,"wires":[["400e5a5a.aea574"]]},{"id":"400e5a5a.aea574","type":"change","z":"b6899a56.32a2e8","name":"stato","rules":[{"t":"set","p":"stato","pt":"msg","to":"payload[0].state","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1100,"wires":[["5f4d1f9f.ebd1d"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"5f4d1f9f.ebd1d","type":"switch","z":"b6899a56.32a2e8","name":"","property":"stato","propertyType":"msg","rules":[{"t":"eq","v":"Al tramonto","vt":"str"},{"t":"eq","v":"Scelta Orario","vt":"str"},{"t":"eq","v":"Disabilitato","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":1100,"wires":[["8eba2324.64188"],[],["8eba2324.64188"]]},{"id":"8eba2324.64188","type":"api-call-service","z":"b6899a56.32a2e8","name":"Spegno manuale","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.tapparelle_manuale_temp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":1100,"wires":[[]]},{"id":"505baf04.099b1","type":"comment","z":"b6899a56.32a2e8","name":"Se non è impostato orario manuale spegno la variabile","info":"","x":460,"y":1040,"wires":[]}]